nav a{
color : white;
}

#listCamera{
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: center;
	align-items: baseline;
	align-content: center;
}

.formDetail{
    margin : 30px;
}
